

.plant_scanner_container{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-template-areas:
    "plantinfo plantdisease"
    " plantinfo plantpest";
   
    width: 80vw;
    height: 100%;
    
}

.plantpest{
    grid-area: planttypepest;
    border: solid 1px black;
 
}
.plantdisease{
    grid-area: plantdisease;
    border: solid 1px black;

}
.plantinfo{
    grid-area: plantinfo;

}
