
body{
    background-color: #D8E4D9;
}

.tracker_container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows:1fr 1fr;
    grid-template-areas:
    "sidebar analysis weather"
    "sidebar monitoring resourcescosts";
    
}
.sidebar_resources{
 grid-area: sidebar;
 border: solid 1px black;
}
.analysis{
    grid-area: analysis;
   
}
.resourcescosts{
    grid-area: resourcescosts;
    
 }
.monitoring{
    grid-area: monitoring;
    
 }
.weather{
    grid-area: weather;
}
