.plant-disease-container{
    width: 95%;
    height: 100%;
 
    margin:auto;
    background: #F2F2F2 ;
    border-radius: 20px;


}

.plant-disease-container h1{
    color: #154734;
   font-weight: 700;
    font-size: 30px;
}